.box {
  padding: 16px;
  border: 1px solid var(--grey);
  height: 100%;
  overflow: hidden;
  font-size: 2rem;
}
.box p {
  color: var(--light-grey);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
