.section-pad {
  padding: 64px 0;

  /* Different screen sizes breakpoints */
  @media (min-width: var(--small-device-min)) and (max-width: var(--small-device-max)) {
    padding: 42px 0;
  }
  @media (min-width: var(--tablet-min)) and (max-width: var(--tablet-max)) {
    padding: 32px 0;
  }
}

.section .section-title {
  margin-bottom: 40px;
  color: var(--navy-blue);
  font-weight: 600;

  @media (min-width: var(--small-device-min)) and (max-width: var(--small-device-max)) {
    margin-bottom: 36px;
  }

  @media (min-width: var(--tablet-min)) and (max-width: var(--tablet-max)) {
    margin-bottom: 24px;
  }
}

.banner-title {
  font-weight: 600;
  margin: 24px 0px;

  @media (min-width: var(--small-device-min)) and (max-width: var(--small-device-max)) {
    margin: 24px 0px;
  }

  @media (min-width: var(--tablet-min)) and (max-width: var(--tablet-max)) {
    margin: 24px 0px;
  }

  @media (min-width: var(--mobile-min)) and (max-width: var(--mobile-max)) {
    margin: 20px 0px;
  }

  animation: fadeIn 2s forwards; /* Use forwards to keep the final state of opacity */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.banner-sub-title {
  animation: fadeIn 1s forwards; /* Use forwards to keep the final state of opacity */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.banner-description {
  animation: fadeIn 2s forwards; /* Use forwards to keep the final state of opacity */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.banner-image {
  animation: fadeIn 2s forwards; /* Use forwards to keep the final state of opacity */

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:hover {
    transform: scale(1.1); /* Increase the scale on hover for a nice effect */
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Add a delay of 0.3s to the scale effect */
  }
}

.banner-cta-btn {
  animation: fadeIn 2s forwards; /* Use forwards to keep the final state of opacity */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/* .hide {
  display: none;
} */
