.section-pad {
  padding: 64px 0;

  /* Different screen sizes breakpoints */
  @media (min-width: var(--small-device-min)) and (max-width: var(--small-device-max)) {
    padding: 42px 0;
  }
  @media (min-width: var(--tablet-min)) and (max-width: var(--tablet-max)) {
    padding: 32px 0;
  }
}

.section .section-title {
  margin-bottom: 40px;
  color: var(--navy-blue);
  font-weight: 600;

  @media (min-width: var(--small-device-min)) and (max-width: var(--small-device-max)) {
    margin-bottom: 36px;
  }

  @media (min-width: var(--tablet-min)) and (max-width: var(--tablet-max)) {
    margin-bottom: 24px;
  }
}

.banner-title {
  font-weight: 600;
  margin: 24px 0px;

  @media (min-width: var(--small-device-min)) and (max-width: var(--small-device-max)) {
    margin: 24px 0px;
  }

  @media (min-width: var(--tablet-min)) and (max-width: var(--tablet-max)) {
    margin: 24px 0px;
  }

  @media (min-width: var(--mobile-min)) and (max-width: var(--mobile-max)) {
    margin: 20px 0px;
  }

  animation: fadeIn 2s forwards; /* Use forwards to keep the final state of opacity */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.banner-sub-title {
  animation: fadeIn 1s forwards; /* Use forwards to keep the final state of opacity */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.banner-description {
  animation: fadeIn 2s forwards;
  font-family: monospace; /* Use forwards to keep the final state of opacity */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.banner-image {
  animation: fadeIn 2s forwards; /* Use forwards to keep the final state of opacity */

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:hover {
    transform: scale(1.1); /* Increase the scale on hover for a nice effect */
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Add a delay of 0.3s to the scale effect */
  }
}

.banner-cta-btn {
  animation: fadeIn 2s forwards; /* Use forwards to keep the final state of opacity */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/* .hide {
  display: none;
} */

.card {
  /* Other styles for your .card class */
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: 1px solid #a09f9f;
}

/* Other styles for your .card class */

/* Base */

.animate {
  color: hsl(0, 0%, 28%);
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

.animate span {
  transition: 0.5s ease-out;
}

.animate:hover span:nth-child(1) {
  margin-right: 5px;
}

.animate:hover span:nth-child(1):after {
  content: "'";
}

.animate:hover span:nth-child(2) {
  margin-left: 30px;
}

.animate:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.animate-section-title {
  color: hsl(0, 0%, 28%);
  font-size: 50px !important;
  font-weight: bold !important;
  font-family: monospace;
  letter-spacing: 7px !important;
  cursor: pointer;
  text-transform: uppercase;
}

.animate-section-title {
  font-family: monospace;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 30%) 0,
    hsl(0, 0%, 100%) 10%,
    hsl(0, 0%, 30%) 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}
