:root {
  --white: #ffffff;
  --grey: #b2b2b2;
  --light-grey: #888888;
  --dark-grey: #585858;
  --white-grey: #e2e2e2;
  --pale-grey: #f0f5ff;
  --blue: #0876f8;
  --powder-blue: #adc6ff;
  --navy-blue: #181a53;
  --soft-blue: #7275e6;
  --dusk-blue: #292c8a;
  --f5f5f5: #f5f5f5;
  --f8f8fc: #f8f8fc;
  --border: #70707033;
  --golden: #ffb700;
  --blueberry: #3b3e9f;
  --piss-yellow: #e6ca2f;
  --light-tan: #fceec3;
  --light-blue: #5dcfea;

  --large-device: 1440px;

  --small-device-min: 1160px;
  --small-device-max: 1439px;

  --tablet-min: 768px;
  --tablet-max: 1159px;

  --mobile-min: 360px;
  --mobile-max: 767px;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

/* body::before {
  content: "XS";
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
} */

/* This box class is purely used for explaining how the bootstrap grid system works. */

/* @media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
} */

h1 {
  font-size: 40px;
  line-height: 50px;
}

/* Different screen sizes breakpoints */
@media (min-width: var(--small-device-min)) and (max-width: var(--small-device-max)) {
  h1 {
    /* Small device */
    font-size: 32px;
    line-height: 42px;
  }
}

@media (min-width: var(--tablet-min)) and (max-width: var(--tablet-max)) {
  h1 {
    /* Tablet layout */
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: var(--mobile-min)) and (max-width: var(--mobile-max)) {
  h1 {
    /* Mobile layout */
    font-size: 32px;
    line-height: 40px;
  }
}

.arrow {
  position: absolute;
  color: #000000;
  font-size: 2.5em;
  font-weight: bold;
  cursor: pointer;
}

.nextArrow {
  top: 50%;
  right: -55px;
}

.prevArrow {
  top: 50%;
  left: -55px;
}
